# 01.Importing libraries

In [2]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [3]:
# Define a path
path = r'C:\Users\franc\Documents\01-2023 Instacart Basket Analysis'

In [4]:
# Importing orders_products_merged
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_updated.pkl'))

In [5]:
df_ords_prods_merged.shape

(32404859, 18)

In [6]:
df_ords_prods_merged.head (5)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_days,busiest_day,busiest_hours
0,2539329,1,1,2,8,-1.0,False,196,1,0,Soda,77,7,9.0,both,regularly busy days,regularly busy,Average orders
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,slowest days,regularly busy,Average orders
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,slowest days,regularly busy,Most orders
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,slowest days,least busy,Average orders
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,slowest days,least busy,Most orders

# Task 4.8

Q2. In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [7]:
# Create a subset
df = df_ords_prods_merged

In [8]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

Q3. Analyze the result. How do the results for the entire dataframe differ from those of the subset?

Because the subset we analyzed contained only 8 of the 21 departments, the information we had was limited. Also, the values are evidently different (they tend to be higher in the subset)

Q4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() 
and loc() functions.

In [9]:
#Create a loyalty flag using loc
df_ords_prods_merged['max_order'] = df_ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [59]:
df_ords_prods_merged.head(5)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,_merge,busiest_days,busiest_day,busiest_hours,max_order,loyalty_flag,average_price,average_order_flag,median_prior_order,frequency_order_flag
0,2539329,1,1,2,8,-1.0,False,196,1,0,...,both,regularly busy days,regularly busy,Average orders,10,New customer,6.367797,Low spender,18.457627,Regular customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,both,slowest days,regularly busy,Average orders,10,New customer,6.367797,Low spender,18.457627,Regular customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,both,slowest days,regularly busy,Most orders,10,New customer,6.367797,Low spender,18.457627,Regular customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,both,slowest days,least busy,Average orders,10,New customer,6.367797,Low spender,18.457627,Regular customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,both,slowest days,least busy,Most orders,10,New customer,6.367797,Low spender,18.457627,Regular customer

In [11]:
# Deriving Columns with loc()
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [12]:
df_ords_prods_merged.loc[(df_ords_prods_merged['max_order'] <= 40) & (df_ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [13]:
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [14]:
df_ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [17]:
df_ords_prods_merged[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

Q5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [15]:
# Examine all the descriptive statistics
df_ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['min', 'max','mean', 'sum']})

                 prices
                    min      max       mean          sum
loyalty_flag
Loyal customer      1.0  99999.0  10.386336  106814042.2
New customer        1.0  99999.0  13.294670   83011787.2
Regular customer    1.0  99999.0  12.495717  198391693.2

In [16]:
#Create an average price flag using loc
df_ords_prods_merged['average_price'] = df_ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [18]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,busiest_days,busiest_day,busiest_hours,max_order,loyalty_flag,average_price
0,2539329,1,1,2,8,-1.0,False,196,1,0,...,77,7,9.0,both,regularly busy days,regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,False,196,1,1,...,77,7,9.0,both,slowest days,regularly busy,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,False,196,1,1,...,77,7,9.0,both,slowest days,regularly busy,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,False,196,1,1,...,77,7,9.0,both,slowest days,least busy,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,False,196,1,1,...,77,7,9.0,both,slowest days,least busy,Most orders,10,New customer,6.367797

In [19]:
# Deriving Columns with loc()
df_ords_prods_merged.loc[df_ords_prods_merged['average_price'] < 10, 'average_order_flag'] = 'Low spender'

In [20]:
df_ords_prods_merged.loc[df_ords_prods_merged['average_price'] >= 10, 'average_order_flag'] = 'High spender'

In [21]:
# Checking values
df_ords_prods_merged['average_order_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: average_order_flag, dtype: int64

In [22]:
df_ords_prods_merged.head(5)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,busiest_days,busiest_day,busiest_hours,max_order,loyalty_flag,average_price,average_order_flag
0,2539329,1,1,2,8,-1.0,False,196,1,0,...,7,9.0,both,regularly busy days,regularly busy,Average orders,10,New customer,6.367797,Low spender
1,2398795,1,2,3,7,15.0,False,196,1,1,...,7,9.0,both,slowest days,regularly busy,Average orders,10,New customer,6.367797,Low spender
2,473747,1,3,3,12,21.0,False,196,1,1,...,7,9.0,both,slowest days,regularly busy,Most orders,10,New customer,6.367797,Low spender
3,2254736,1,4,4,7,29.0,False,196,1,1,...,7,9.0,both,slowest days,least busy,Average orders,10,New customer,6.367797,Low spender
4,431534,1,5,4,15,28.0,False,196,1,1,...,7,9.0,both,slowest days,least busy,Most orders,10,New customer,6.367797,Low spender

Q7. In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column.

In [48]:
#Create a median prior order flag using loc
df_ords_prods_merged['median_prior_order'] = df_ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.mean)

In [49]:
# Deriving Columns with loc()
df_ords_prods_merged.loc[df_ords_prods_merged['median_prior_order'] > 20, 'frequency_order_flag'] = 'Non-frequent customer'

In [50]:
df_ords_prods_merged.loc[(df_ords_prods_merged['median_prior_order'] > 10) & (df_ords_prods_merged['median_prior_order'] <= 20), 'frequency_order_flag'] = 'Regular customer'

In [51]:
df_ords_prods_merged.loc[df_ords_prods_merged['median_prior_order'] <= 10, 'frequency_order_flag'] = 'Frequent customer'

In [52]:
# Checking values
df_ords_prods_merged['frequency_order_flag'].value_counts(dropna = False)

Frequent customer        17884757
Regular customer         12930426
Non-frequent customer     1589676
Name: frequency_order_flag, dtype: int64

In [58]:
df_ords_prods_merged.head(5)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,_merge,busiest_days,busiest_day,busiest_hours,max_order,loyalty_flag,average_price,average_order_flag,median_prior_order,frequency_order_flag
0,2539329,1,1,2,8,-1.0,False,196,1,0,...,both,regularly busy days,regularly busy,Average orders,10,New customer,6.367797,Low spender,18.457627,Regular customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,both,slowest days,regularly busy,Average orders,10,New customer,6.367797,Low spender,18.457627,Regular customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,both,slowest days,regularly busy,Most orders,10,New customer,6.367797,Low spender,18.457627,Regular customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,both,slowest days,least busy,Average orders,10,New customer,6.367797,Low spender,18.457627,Regular customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,both,slowest days,least busy,Most orders,10,New customer,6.367797,Low spender,18.457627,Regular customer

In [61]:
df_ords_prods_merged.shape

(32404859, 24)

In [62]:
#Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_updated.pkl'))